.HomePage {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows:  auto ;
  grid-template-areas:
  'aside main main'
  ;
}
.aside ul{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.aside {
  list-style: none;
  background-color: #ddd;
  flex: 0 0 auto;
  min-height: 65vh;
  padding: 20px;
}
.main {
  grid-area: main;
  min-height: 65vh;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}
li:first-letter {
  list-style: none;
  text-transform: uppercase;
}
.secondAside {
  width: 100%;
  display: flex;
}
.buttonCategory {
  background-color: #ddd;
  border: none;
  border-radius: 0;
  margin: 0 10px 10px 20px;
  padding: 20px;
}
.buttonShow {
  /* background: linear-gradient(to top, white, #ddd 80%); */
  background-color: white;
  padding: 2.5px;
  height: 57.5px;
  width: 22.5px;
  border: none;
  border-radius: 0;
  margin-bottom: 16px;
}

.subCategories ul {
  width: 92%;
}
