@import '../normalize.css';
@import '../variables.css';

.aside {
  background-color: var(--blue);
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
  gap: 20px 0;
  font-size:20px;
  min-width: 150px;
}

.aside-link:first-letter {
  text-transform: uppercase;
}

.aside-link a{
  text-decoration: none;
  color:white;
  transition: color 0.3s ease;
  transition: transform 0.3s ease;
}

.aside-link {
  transition: transform 0.3s ease;
}

.aside-link:hover {
  transform: scale(1.1);
}

.aside-link a:hover{
  color: var(--orange);
}

/* Formato para los links seleccionados */

.aside-link .active {
  font-size: 22px;
  font-weight: bold;
  color: var(--orange);
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .aside {
    margin: 20px 0 0 0;
    background-color: var(--blue);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px 45px;
    width: 96%;
    min-height: 100px;
  }

  .aside-link {
    width: 90px;
  }

  .aside-link a{
    text-decoration: none;
  }
}