
.aside ul{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.aside {
  list-style: none;
  background-color: #ddd;
  flex: 0 0 auto;
  min-height: 65vh;
  padding: 20px;
}
li:first-letter {
  list-style: none;
  text-transform: uppercase;
}


