@import '../variables.css';

.HomePage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  auto ;
  grid-template-areas:
  'main main'
  ;
}
/* .subCategories ul {
  margin-top: 0;
  padding: 21px;
  background-color: #ddd;
  background:  var(--blue);
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.subCategories ul li a {
  color: white;
  text-decoration: none;
} */

.subCategories h1 {
  text-align: center;
}
.subCategories h1::first-letter {
  text-transform: uppercase;
}

