.HomePage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  auto ;
  grid-template-areas:
  'main main'
  ;
}
.subCategories ul {
  margin-top: 0;
  padding: 20px;
  background-color: #ddd;
  /* background: linear-gradient(to right bottom, #ccc 60%, #ddd); */
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
