@import '../normalize.css';
@import '../variables.css';


 .edituser-data {
    display: flex;
    flex-direction: column;
    padding: 7vw;
}

.edituser-data p {
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    cursor: pointer;
}

.edituser-info-edit {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5vw;
}
.edituser-title-edit {
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.edituser-form-edit {
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey-background);
    padding: 1vw;
}

.edituser-form-edit label{
    display: flex;
}
.edituser-form-edit span{
    display:flex;
    align-items: center;
    flex: 1 1 5rem;
}

.edituser-form-edit input {
    margin: 0.8rem;
}

.provinces {
    margin: 0.3rem auto;
}

.edituser-avatar-photo {
    height: 20rem;
}

.edituser-changephoto-button {
margin-top: 50px;
font-size: 20px;
text-align: center;
padding: 5px;
border-radius: 10px;
background-image: linear-gradient(var(--light-grey-button), var(--dark-grey-button));
color: white;
}

.edituser-changephoto-button:hover {
    font-size:20px;
    font-weight: bold;
    box-shadow: 8px 8px 8px lightgrey;
  }

.back-to-my-profile {
    font-style:normal;
    transition: transform 0.3s ease;
}

.back-to-my-profile:hover {
    transform: scale(1.05);
}

.edituser-change-password {
    font-style:normal;
    margin-top: 1rem;
    transition: transform 0.3s ease;
}

.edituser-change-password:hover {
    transform: scale(1.05);
}

.edituser-showpass {
    color: grey;
    cursor: pointer;
    transition: color 0.3s ease;
}

.edituser-showpass:hover {
    color: blue;
}