.datauser {
    display: flex;
    flex-direction: column;
    padding: 7vw;
}
.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5vw;
    background-color: #ddd;
}
.title {
    display: flex;
}
.title h2 {
    margin-left: 35vw;
}
.form {
    display: flex;
    flex-direction: column;
}
.home-icon {
    font-size: 60px;
    color: black;
}
input {
    margin: 15px;
}

.userphoto {
    margin-top: 30px;
    text-align: center;
    height: 200px;
    width: 250px;
    }

.changephoto {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(187, 175, 175);
    padding: 5px;
    border-radius: 10px;
    }

.changephoto:hover {
cursor: pointer;
}

.datauser p {
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    cursor: pointer;
}
.userphoto img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}