@import '../variables.css';

.datauser-activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vw;
}

 .textMyArticle-activity {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.info-activity {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 5vw;
  padding: 2vw;
}
.info-title-activity{
  display: flex;
  justify-content: space-between;
  gap: 10vw;
  cursor: pointer;
}
.title-activity {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color:var(--light-grey-background);
}

.MyArticle-activity {
  background-color:var(--light-grey-background);
  width: 40vw;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5vw;
  border: 2px solid silver;
  border-radius: 5px;
  margin: 20px;
}
.image-activity {
  width: 20vw;
  height: 15vw;
}

.soldBuy-activity {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.comercio-activity {
  display: flex;
  justify-content: center;
  text-align: center;
}

.mirando-activity {
  color: darkblue;
}


.buttonPuntua-activity {
  color: white;
}

.estado-activity input[type="radio"] {
  display: none;
}


.estado-activity .clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.estado-activity label:hover,
.estado-activity label:hover ~ label {
  color: orange;
}

.estado-activity input[type="radio"]:checked ~ label {
  color: orange;
}

.myactivity-noproducts {

  font-size: 3vh;
  font-weight: bold;
  color: var(--grey);
}