
@import '../normalize.css';
@import '../variables.css';

.createarticle-body {
    width: 60vw;
    margin: 5vh auto;
}

.createarticle-title {
    font-size: 4vh;
    color: var(--grey);
}

.createarticle-form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2.2vh;
    font-weight: 500;
}

.createarticle-form input {
    width: 95%;
    margin: 1vh auto;
    font-size: 2vh;
    height: 3.5vh;
}

.createarticle-form textarea {
    width: 95%;
    margin: 1vh auto;
    font-size: 2vh;
}

.createarticle-form select {
    width: 95%;
    margin: 1vh 0;
    font-size: 2vh;
    height: 3.5vh;
}

.createarticle-loadphoto {
    margin: 2vh 5vw;
    font-size: 10 vh;
    transition: transform 0.3s ease;
    transition: color 0.3s ease;

}

.createarticle-loadphoto:hover {
    cursor: pointer;
    transform: scale(1.08);
    color: var(--blue);
}

.createarticle-sendbutton {
    min-width: 0;
    min-height: 0;
    max-width: none;
    font-size: 3vh;
    height: 5vh;
    width: 15vw;
}

.createarticle-created-text {
    font-size: 4vh;
    color: var(--grey);
    margin: 10vh auto;
}

.createarticle-created-link {
    font-size: 4vh;
    margin: 5vh auto;
    text-decoration: none;
    color: var(--blue);
    transition: transform 0.3s ease;
    transition: color 0.3s ease;
}

.createarticle-created-link:hover {
    transform: scale(1.08);
    color: var(--orange)
}

.photoRegister {
    width: 20rem;
    height: 20rem;
}


@media screen and (max-width: 35rem) {

    .createarticle-body {
        width: 90vw;
        margin: 5vh auto;
    }

    .createarticle-sendbutton {
        width: 30vw;
    }

}

.createarticle-created-article {
    text-align: center;
    height: 53vh;
}

.createarticle-created-text {
    font-size: 4rem;
}