
@import '../variables.css';
@import '../normalize.css';


.banners {
  display:grid;
  place-items: center;
  margin: 0 10px;
}

.banners-image {
    width:90%;
}

.introductionpage-title {
  color:var(--dark-grey);
  font-size: 25px;
  padding: 1vw 5vw;
}

.introductionpage-banner {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  gap: 1vw;
  height: 40vh ;
}

.introductionpage-container {
  border: 1px solid lightgray;
  border-radius: 0.5vw;
  height: 95%;
  min-height: 25rem;
  width: 25rem;
  padding: 0.3vw;
  cursor: pointer;
  transition: transform 0.3s ease;
  transition: background-color 0.3s ease;
  transition: border 0.1s ease;
  transition: box-shadow 0.3s ease;
}

.introductionpage-container:hover {
  transform: scale(1.05);
  background-color: var(--light-blue);
  border: 1.5px solid var(--blue-transparent);
  box-shadow: 7px 10px var(--shadows-grey);
}

.introductionpage-photos {
  height: 70%;
  margin: 0.5vW auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* .introductionpage-names {
  color: black;
  margin: 5% 1vw;
  max-width: 200px;
  display: flex;
  justify-content: center;
}

.introductionpage-prices {
  color: black;
  margin: 5% 1vw;
  max-width: 200px;
  display: flex;
  justify-content: center;
} */

.introductionpage-productinfo {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.introductionpage-names {
  color: black;
  margin: 10% 1rem;
  max-width: 45%; 
}

.introductionpage-prices {
  color: black;
  margin: 10% 1rem;
  font-style: bold;
  font-size: 1.6rem;
}








.introductionpage-container a {
  text-decoration: none;
  font-size: 22px;
}

.introductionpage-arrows {
  font-size: 4vw;
  margin: auto 0;
  color: var(--arrow-grey-transparent);
  cursor: pointer;
  transition: transform 0.5s ease;
  transition: color 0.5s ease;
}

.introductionpage-arrows:hover {
  transform: scale(1.2);
  color: var(--arrow-grey);
}


@media screen and (max-width: 75rem) {

  .introductionpage-title {
    color:red;
  }

}
