
.introductioPage {
  display: flex;
  background: linear-gradient(to bottom, gray    ,  #ffffff);
}
.home {
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.home ul {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10px;
}
.ofertas {
  width: 100%;
}

/* ESTE DIV, ESCRITO ASÃ, AFECTA EN OTROS SITIOS - HACERLO ESPECIFICANDO CLASE

  div>h1 {
      text-align: center;
      text-decoration: underline;
      font-style: italic;
  } */

  main .photos {
    flex: 0 0 66%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
    border: 10px solid black;
  }
  main .photos .photo {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 120px;
    min-width: 0;
    text-align: center;
  }
  main .photos .photo img {
    width: 120px;
    height: 120px;
  }
  main .photos .photo span {
    margin-top: 5px;
    overflow: hidden;
    text-align: center;
    text-overflow: clip;
    font-style: italic;
    /* white-space: nowrap; */
    width: 100%;
  }
