
@import '../variables.css';
@import '../normalize.css';


.banners {
  display:grid;
  place-items: center;
  margin: 0 10px;
}

.banners-image {
  height: 35vh;
}

.introductionpage-title {
  color:var(--dark-grey);
  font-size: 25px;
  padding: 1vw 5vw;
}

.introductionpage-banner {
  display: flex;
  justify-content: space-evenly;
  gap: 5vw;
  max-width: 1920px;
}

.introductionpage-container {
  border: 1px solid lightgray;
  border-radius: 0.5vw;
  padding: 0.3vw;
  cursor: pointer;
  transition: transform 0.3s ease;
  transition: background-color 0.3s ease;
  transition: border 0.1s ease;
  transition: box-shadow 0.3s ease;
}

.introductionpage-container:hover {
  transform: scale(1.05);
  background-color: var(--light-blue);
  border: 1.5px solid var(--blue-transparent);
  box-shadow: 7px 10px var(--shadows-grey);
}

.introductionpage-photos {
  height: 15vw;
  width: 15vw;
  margin: 0.5vW auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.introductionpage-names {
  color: black;
  margin: 2vw 1vw;
  max-width: 200px;
  display: flex;
  justify-content: center;
}

.introductionpage-container a {
  text-decoration: none;
  font-size: 22px;
}

.introductionpage-arrows {
  font-size: 4vw;
  margin: auto 0;
  color: var(--arrow-grey-transparent);
  cursor: pointer;
  transition: transform 0.5s ease;
  transition: color 0.5s ease;
}

.introductionpage-arrows:hover {
  transform: scale(1.2);
  color: var(--arrow-grey);
}


@media screen and (max-width: 1100px) and (orientation: portrait) {

  .banners {
    margin: 10px auto;
  }

  .banners-image {
    height:auto;
    width: 100%;
  }

  .introductionpage-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

}


/* ESTE CODIGO ES DE MYKELL */


.home {
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.home ul {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10px;
}
.ofertas {
  width: 100%;
}

  main .photos {
    flex: 0 0 66%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
    border: 10px solid black;
  }
  main .photos .photo {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 120px;
    min-width: 0;
    text-align: center;
  }
  main .photos .photo img {
    width: 120px;
    height: 120px;
  }
  main .photos .photo span {
    margin-top: 5px;
    overflow: hidden;
    text-align: center;
    text-overflow: clip;
    font-style: italic;
    /* white-space: nowrap; */
    width: 100%;
  }
