@import '../normalize.css';
@import '../variables.css';




.product-article{
    width: 98vw;
    display:flex;
    justify-content: center;
}

.photo-container {
    border: 1px solid rgb(205, 204, 208);
    background-color: var(--light-grey-background);
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    padding: 2vw;
    margin: 20px;
    display: flex;
    align-items: center;
}

.articles-page-photo{
    width:40vw;
    min-width:320px;
    max-width:600px;
}

.content-article {
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 5px;
    width:30vW;
    min-width: 450px;
    min-height: 60vh;
    margin: 20px;
}

.title-artpage {
    text-decoration:none;
    text-align:left;
    padding: 0 20px;
    font-style: normal;
    font-size: 35px;
    font-weight: bold;
}

.price-artpage {
    text-decoration:none;
    text-align:right;
    padding: 0 20px;
    font-style: normal;
    font-size: 35px;
}

.description-artpage  {
    width: 85%;
    min-height: 60px;
    margin: auto;
    padding:20px;
    background-image: linear-gradient(var(--dark-grey-gradient), var(--light-grey-gradient));
    border-radius: 5px;
    font-size: 25px;
}

.description-title {
    font-size: 25px;
    font-weight: bold;
    color:black;
    text-align: left;
    padding:30px;
}
.description-content {
    font-size: 20px;
    color:black;
    text-align: left;
    padding:30px;
}

.puntuacion {
    display:block;
    text-align:left;
    font-size: 22px;
    padding: 2vh;
}

.place-artpage {
    display:block;
    text-align:left;
    font-size: 25px;
    padding: 2vh;
}

.place-artpage-flag {
    font-size: 30px;
}

.is-my-article {
    width: 30vw;
    min-width: 0px;
    max-width: 400px;
    height: 5vh;
    min-height: 60px;
    background-image: linear-gradient(var(--light-grey-button), var(--dark-grey-button));
    border-radius: 10px;
    margin: 20px;
    display:grid;
    place-items:center
}

.buy-article-button {
    min-width: 400px;
}

.is-my-article-content {
    font-size: 23px;
    font-weight: bold;
    color:white;
}


/* Casita recibe el CSS de App.css*/

.casita-artpage {
    width:30%;
    min-width:250px;
    margin: 0px;
    margin: auto;

}

@media screen and (max-width: 1100px) and (orientation: portrait) {

.product-article{
    display:flex;
    flex-direction: column;
}

.photo-container {
    min-width: 450px;
}


.price-artpage {
    text-decoration:none;
    text-align:left;
    padding: 0 20px;
    font-style: normal;
    font-size: 35px;
}

}
