

/* AFECTA A OTROS CSS
.myArticles {
    text-align: center;
} */
.MyArticle {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    width: 60%;
    margin: 20px;
}
.image {
    width: 150px;
    height: 150px;
}
/* AFECTA A OTROS CSS
 .textMyArticle {
    display: flex;
    flex-direction: column;
    text-align: right;
} */
