
/* .header {
grid-area: header;
padding: 20px;
display: flex;
gap: 20px;
align-items: center;
justify-content: space-between;
} */

/* .footer {
  grid-area: footer;
  background-color: hsl(241, 73%, 75%);
  padding: 20px;
} */

.body-structure {
  min-width: 750px;
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-top: 150px;
}
/* a {
    text-decoration: none;
    color: white;
} */

.active {
    font-style: italic;
    font-size: 20px;
    color: white;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 790px;
}
.registered-user {
  min-width: 750px;
}
.principal {
  min-height: 70vh;
}