
/* .header {
grid-area: header;
padding: 20px;
min-width: 750px;
display: flex;
align-items: center;
justify-content: space-between;
} */

/* .footer {
  grid-area: footer;
  min-width: 750px;
  background-color: hsl(241, 73%, 75%);
  padding: 20px;
} */

.body-structure {
  display: grid;
  grid-template-columns: 200px 1fr;
}
a {
    text-decoration: none;
    color: rgb(228, 131, 40);
}
.active {
    font-style: italic;
    font-size: 20px;
    color: white;
}
.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 790px;
}

.main1 {
  display: grid;
  grid-template-columns: 200px 1fr;
  min-width: 750px;
}
.main2 {
  min-width: 790px;
}
