.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(51, 83, 228); */
  background: linear-gradient(to right, #7c7c7c 20%,#3353e4 60%,#7c7c7c);
  padding: 20px 20px 30px 20px;
  max-height: 150px;
  min-width: 750px;
}

.link {
  margin-bottom: 15px;
}

.link a {
  text-decoration: none;
  color: white;
}
.link a:hover {
  color: black;
}

.fiscal {
  color: white;
  margin-top: 5px;
}

.community {
  text-align: center;
}

.community img {
  width: 45px;
  margin: 5px;
}

.logo {
  height: 120px;
  margin: 5px;
}

p {
  color: white;
  size: 20px;
}