.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(51, 83, 228);
  padding: 20px;
}

.link {
  margin: 10px;
}

ul >li:hover {
  color: rgb(228, 131, 40);
}

.fiscal {
  color: white;
  margin-top: 5px;
}

.community img {
  width: 45px;
  margin: 5px;
}
.logo {
  height: 120px;
  margin: 5px;
}
