@import 'normalize.css';
@import 'variables.css';

.header {
  grid-area: header;
  padding: 0.8rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  min-width: 45rem;
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.header-logo-image {
  height: 8rem;
}

@media screen and (max-width: 75rem) {

  .header {
    grid-area: header;
    background-color: green;
    min-width: 30rem;
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 5rem 2rem;
    grid-template-areas:
      'header-logo-image    header-login'
      'header-search        header-search'
  }

  .header-logo-image {
    grid-area: header-logo-image;
    height: 5rem;
  }

  .search {
    grid-area: header-search;
  }

  .login-perfil {
    grid-area: header-login;
    margin: 0 1rem 0 auto;

  }
}
