.reloj-loading{
    animation: 1s rotate linear infinite;
    border: 16px solid silver;
    border-top: 16px solid black;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
    to {
      transform: rotate(360deg);
    }}

.login {
    display: flex;
    flex-direction: column;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.perfil {
  display: flex;
  align-items: center;
}


.buttonUsername {
  border: none;
  background-color: white;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  background-color: white;
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #ddd;
}
