@import 'normalize.css';
@import 'variables.css';


.login-form {
    display: flex;
    flex-direction: column;
}
.login-avatar-image {
  height: 5rem;
  border-radius: 1.5rem;
}

.login-perfil {
  display: flex;
  align-items: center;
  z-index: 100;
}

.login-buttonUsername {
  width: 10rem;
  border: none;
  background: white;
  color: var(--blue);
}
.login-dropdown {
  height: 7rem;
  display: inline-block;
  align-items: center;
}
.dropdown-content {
  background-color: white;
  display: none;
  position: relative;
  top: -1rem;
  width: 10rem;
  overflow: auto;
  box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.4);
}
.login-dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 1rem;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: rgb(51, 83, 228);
}
.login-link {
  display: flex;
  align-items: center;
  z-index: 100;
}
.login-session {
  border: none;
  background-color: white;
  color: blue;
  width: 9rem;
  height: 1.2rem;
  margin-top: auto;
  margin-bottom: auto;
}
.login-account {
  height: 3rem;
}

.reloj-loading{
  animation: 1s rotate linear infinite;
  border: 1rem solid silver;
  border-top: 1rem solid black;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}

@keyframes rotate {
from {
  transform: rotate(0deg);
}
  to {
    transform: rotate(360deg);
  }}
