@import 'normalize.css';
@import 'variables.css';


.login-form {
    display: flex;
    flex-direction: column;
}
.login-avatar-image {
  height: 5rem;
  border-radius: 1.5rem;
}

.login-perfil {
  display: flex;
  align-items: center;
  z-index: 100;
}

.login-buttonUsername {
  max-height: 5rem;
  border: none;
  background: white;
  color: var(--blue);
  margin: 0 0 0 1rem;
}
.login-dropdown {
  /* height: 7rem; */
  height: 3rem;
  display: inline-block;
  align-items: center;
}
.dropdown-content {
  background-color: white;
  display: none;
  position: relative;
  top: -1rem;
  width: 10rem;
  overflow: auto;
  box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.4);
}

.login-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 1rem;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: rgb(51, 83, 228);
}

.login-user-label {
  display: flex;
  margin: 0.5rem 0;
}

.login-user-label span{
  flex: 1 1 10rem;
}

.login-perfil button {
  min-height: 0;
  min-width: 0;
  font-size: larger;
  width: 12rem;
}

.reloj-loading{
  animation: 1s rotate linear infinite;
  border: 1rem solid silver;
  border-top: 1rem solid black;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}


@keyframes rotate {
from {
  transform: rotate(0deg);
}
  to {
    transform: rotate(360deg);
  }}

@media screen and (max-width: 35rem) {

  .login-user-label span{
    font-size: 0.8rem;
    padding: 0 0.2em;
  }

  .login-perfil button {
    min-height: 0;
    min-width: 0;
    font-size: 0.9rem;
    width: 10rem;
  }
}

@media screen and (min-width: 110rem) {

  .login-avatar-image {
    height: 7rem;
    border-radius: 3rem;
  }
  .dropdown-content a {
    font-size: 2rem;
  }
  .login-perfil button {
    font-size: 2rem;
    width: 15rem;
  }
  .dropdown-content {
    width: 15rem;
  }
}

@media screen and (min-width: 110rem) {

  .login-avatar-image {
    height: 7rem;
    border-radius: 3rem;
  }

  .dropdown-content a {
    font-size: 2rem;
  }

  .dropdown-content {
    width: 20rem;
  }

  .login-form {
    padding: 1rem;
    margin: 0.5rem;
  }

  .login-user-label {
    margin: 1rem;
  }

  .login-user-label span {
    font-size: 3rem;
  }

  .login-user-label input {
    font-size: 3rem;
    height: 5rem;
  }

  .login-perfil button {
    min-height: 0;
    min-width: 0;
    max-width: none;
    font-size: 3rem;
    width: 30rem;
    border-radius: 0.8rem;
  }
}


@media screen and (min-width: 200rem) {

  .login-avatar-image {
    height: 11rem;
    border-radius: 4rem;
  }
  .dropdown-content a {
    font-size: 4rem;
  }

  .dropdown-content {
    width: 30rem;
  }

  .login-form {
    padding: 3rem;
    margin: 1rem;
  }

  .login-user-label {
    margin: 2rem;
  }

  .login-user-label span {
    font-size: 5rem;
  }

  .login-user-label input {
    font-size: 5rem;
    height: 7rem;
  }

  .login-perfil button {
    font-size: 4rem;
    min-height: 0;
    min-width: 0;
    max-width: none;
    font-size: 5rem;
    width: 50rem;
    border-radius: 2rem;
  }
}