.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}


.modal-fg {
  background-color: white;
  padding: 1.2rem;
  text-align: center;

}

@media screen and (max-width: 35rem) {
  .modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .modal-fg {
    position: absolute;
    left: 3rem;
    top: 12rem; 
  }
}