

.myArticles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.MyArticle {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    width: 60%;
    margin: 20px;
}
.titleProducts {
    display: flex;
    width: 62vw;
}
.titleProducts h1 {
    width: 62vw;
    text-align: center;
}
.image {
    width: 150px;
    height: 150px;
}
.textMyArticle {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.delete {
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    margin-right: 10px;
}
.modify {
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    margin-left: 10px;
}