@import '../normalize.css';
@import '../variables.css';

.myarticles {
    min-width: 750px;
}

.myarticles-header {
    background-color:var(--light-grey-background);
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.myarticles-header h1 {
    margin:0;
    text-decoration: none;
    font-style: normal;
    font-size:50px;
    min-width:350px;
}

.myarticles-header button {
    min-width: 250px;
    margin: 10px;
}

.myarticles-casita {
    min-width: 250px;
}

.myarticles-grid{
    min-height: 60vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.myarticles-card{
    border: 1px solid grey;
    display:flex;
    width:640px;
    margin: 20px;
    border-radius: 5px;
    background-color:var(--light-grey-background);
}

.myarticles-image {
    width:30vw;
    height:20vw;
    margin:20px;
    background-position:center;
    background-size:cover;
}

.myarticles-info{
    display:flex;
    flex-direction: column;
}

.myarticles-name {
    margin:20px 10px 0 0;
}

.myarticles-price {
    margin:5px 20px 0 0;
    font-size:20px;
    text-align:right;
}


.myarticles-description {
    margin:10px 10px 20px 0;
    font-size:15px;
}


.myarticles-modify a{
    text-decoration: none;
    color:var(--grey);
    transition: color 0.3s ease;
}

.myarticles-modify a:hover{
    color:black;
}

.myarticles-noproducts{
    margin: 5rem 1rem;
    color: var(--grey);
    height: 30vh;
}


@media screen and (max-width: 900px) {

    .myarticles {
        min-width: 0;
    }

    .myarticles-header {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-width: 750px;
    }

    .myarticles-grid{
        min-width: 750px;
    }
}

@media screen and (max-width: 35rem) {

    .myarticles-header {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-width:20rem;
        width: 98vw;
    }
    .myarticles-header h1 {
        font-size:1.5rem;
        min-width:0;
    }

    .myarticles-header button {
        min-width: 20rem;
        min-height: 0;
        font-size: 1.2rem;
        height: 2rem;
        margin: 10px;
    }

    .myarticles-casita {
        min-width: 0;
        margin: 0;
      }

    .myarticles-casita a {
        font-size: 1.2rem;
    }

    .myarticles-casita span {
        font-size: 2rem;
    }

    .myarticles-grid{
        min-width: 0;
        width: 98vw;
    }

    .myarticles-card{
        display:flex;
        flex-direction: column;
        width:95%;
        margin: 1rem;
        border-radius: 0.5rem;
        min-width: 20rem;
        padding: 0.5rem;
    }

    .myarticles-image {
        width:40vw;
        height:40vw;
        margin: 0 auto;
    }

    .myarticles-name {
        margin: 1rem 0.5rem 0.2rem 0.5rem;
    }

    .myarticles-price {
        margin: 0.2rem 1rem 0 0;
        font-size:20px;
        text-align:right;
    }

    .myarticles-description {
        margin: 0.5rem 1rem 1rem 0.5rem;
        font-size:15px;
    }

    .myarticles-card-br{
        display: none;
    }

    .myarticles-modify {
        margin: 0 1.5rem;
    }

    .myarticles-delete {
        margin: 0 1.5rem;
    }

}

@media screen and (min-width: 110rem) {

    .myarticles-header h1 {
        font-size: 5vh;
    }

    .myarticles-header button {
        max-width: 20vw;
        margin: 2vw;
        font-size: 3vh;
        border-radius: 1vh;
    }

    .myarticles-casita {
        transition: font-size 0.3s ease;
    }

    .myarticles-casita a {
        font-size: 2vh;
    }

    .myarticles-casita span {
        font-size: 4vh;
    }

    .myarticles-casita a:hover {
        font-size: 2.2vh;
    }

    .myarticles-grid{
        min-height: 0;
    }

    .myarticles-card{
        width: 30vw;
        margin: 2vh;
        border-radius: 1vh;
    }

    .myarticles-image {
        width:30vw;
        height:20vw;
        margin:0.5vw;
    }

    .myarticles-name {
        margin:1vh 1vh 0 0;
        font-size: 2.5vh
    }

    .myarticles-price {
        margin: 1vh 2vh 0 0;
        font-size: 2.5vh;
        text-align:right;
    }

    .myarticles-description {
        margin: 2vh 1vh 2vh 0;
        font-size:2vh;
    }

    .myarticles-modify {
        font-size: 2vh;
        margin: 2vh;
    }

    .myarticles-delete {
        font-size: 2vh;
        margin: 5vh 2vh;
    }

    .myarticles-modify a{
        transition: color 0.3s ease;
        transition: font-size 0.3s ease;
    }

    .myarticles-modify a:hover{
        color:black;
        font-size: 2.2vh;
    }

    .myarticles-delete {
        transition: color 0.3s ease;
        transition: font-size 0.3s ease;
    }

    .myarticles-delete:hover{
        color:black;
        font-size: 2.2vh;
    }

}